{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section>

    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle">
                <i class='las la-bars' id="header-toggle"></i>
            </div>
            <div class="header_img">
                <img src="../../../static/img/logo/pp.jpeg" class="img-fluid" alt="">
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a href="#" class="nav_logo">
                        <i class='lab la-medrt' style="font-size:22px"></i>
                        <span class="nav_logo-name">KMPDC</span>
                    </a>

                    <div class="nav_list">
                        <a href="#" class="nav_link active">
                            <i class="las la-grip-horizontal nav_icon"></i>
                            <span class="nav_name">Dashboard</span><i class="las la-arrow-right" id="care"
                                style="color: green;"></i>
                        </a>
                        <li>
                            <a href="#menu" data-toggle="collapse" aria-expanded="false" class="nav_link" type="button">
                                <i class="las la-users" style="font-size:22px"></i>
                                <span class="nav_name">Human Resource</span><i class="las la-angle-down" id="care"></i>
                            </a>
                            <ul class="collapse list-unstyled smalls" id="menu">
                                <li>
                                    <a class="nav_link" href="#">Leave Requests</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Training Requests</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Loans</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menu2" data-toggle="collapse" aria-expanded="false" class="nav_link" type="button"
                                data-bs-parent="menu2">
                                <i class="las la-wallet" style="font-size:22px"></i>
                                <span class="nav_name">Finance</span><i class="las la-angle-down" id="care"></i>
                            </a>
                            <ul class="collapse list-unstyled smalls" id="menu2">
                                <li>
                                    <a class="nav_link" href="#">Page 1</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Page 2</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menu3" data-toggle="collapse" aria-expanded="false" class="nav_link" type="button"
                                data-bs-parent="menu">
                                <i class="las la-store-alt" style="font-size:22px"></i>
                                <span class="nav_name">Procurement</span><i class="las la-angle-down" id="care"></i>
                            </a>
                            <ul class="collapse list-unstyled smalls" id="menu3">
                                <li>
                                    <a class="" href="#">Page 1</a>
                                </li>
                                <li>
                                    <a class="" href="#">Page 2</a>
                                </li>
                                <li>
                                    <a class="" href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menu4" data-toggle="collapse" aria-expanded="false" class="nav_link" type="button"
                                data-bs-parent="menu4">
                                <i class="las la-user-check" style="font-size:22px"></i>
                                <span class="nav_name">Approvals</span><i class="las la-angle-down" id="care"></i>
                            </a>
                            <ul class="collapse list-unstyled smalls" id="menu4">
                                <li>
                                    <a class="nav_link" href="#">Page 1</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Page 2</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menu5" data-toggle="collapse" aria-expanded="false" class="nav_link" type="button"
                                data-bs-parent="menu">
                                <i class="la la-automobile" style="font-size:22px"></i>
                                <span class="nav_name">Reports</span> <i class="las la-angle-down" id="care"></i>
                            </a>
                            <ul class="collapse list-unstyled smalls" id="menu5">
                                <li>
                                    <a class="nav_link" href="#">Page 1</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Page 2</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menu6" data-toggle="collapse" aria-expanded="false" class="nav_link"
                                type="button">
                                <i class="las la-user-check" style="font-size:22px"></i>
                                <span class="nav_name">Case Management</span> <i class="las la-angle-down"
                                    id="care"></i>
                            </a>
                            <ul class="collapse list-unstyled smalls" id="menu6">
                                <li>
                                    <a class="nav_link" href="#">Page 1</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Page 2</a>
                                </li>
                                <li>
                                    <a class="nav_link" href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <a href="#" class="nav_link">
                            <i class="las la-sign-out-alt" style="font-size:22px"></i>
                            <span class="nav_name">Logout</span><i class="las la-arrow-right" id="care"
                                style="color: green;"></i>
                        </a>
                    </div>
                </div>
                <div class="nav_links mx-auto text-center">
                    <img src="../../../static/img/logo/fav.png" width="100px" class="img-fluid" alt="" srcset="">
                </div>
                <div class=" mx-auto text-center">
                    <p style="color:#333;font-size:13px;"><small id="nav_p">Kenya Medical Practitioners and Dentists
                            Council</small></p>
                    <hr>
                </div>

            </nav>
        </div>
        <div class="height-100 py-4">
            <h4>Main Components</h4>
        </div>
</section>

{% endblock %}